[Unit]
Description=NUEDC Application
After=network.target

[Service]
Type=simple
User=radxa
WorkingDirectory=/home/radxa/workspace/nuedc/bin
Environment=TERM=xterm-256color
ExecStart=/usr/bin/script -qfec /home/radxa/workspace/nuedc/bin/run.sh /dev/null
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
